# Gradle & Android related files
gradle-wrapper.jar
/.gradle/
/captures/
/.iso/
/build/
/local.properties

# Flutter related files
build/app/outputs/apk/debug/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
GeneratedPluginRegistrant.java

# Ignore all APK files
*.apk

# Flutter-specific dependencies
.pub-cache/
.fvm/
.fvm/flutter_sdk/

# macOS
.DS_Store

# Android Studio/IntelliJ related files
.idea/
*.iml

# Don't commit keystores or
